@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Poppins:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.amount {
  font-family: "Barlow", sans-serif;
}

.descriptionAmount {
  font-family: "Barlow", sans-serif;
}

.mySwiper {
  height: 450px;
}

.swiper .swiper-button-prev {
  color: #ffba08;
}

.swiper .swiper-button-next {
  color: #ffba08;
}

.swiper .swiper-pagination-horizontal > .swiper-pagination-bullet {
  background-color: #999999;
  width: 16px;
  height: 16px;
}

.swiper .swiper-pagination-horizontal > .swiper-pagination-bullet-active {
  background-color: #ffba08;
}

#continent_image {
  cursor: pointer;
}

@media (max-width: 768px) {
  .swiper .swiper-pagination-horizontal > .swiper-pagination-bullet {
    background-color: #999999;
    width: 10px;
    height: 10px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 10px;
  }

  .swiper-button-next {
    font-size: 5px;
  }

  .swiper-button-prev {
    font-size: 5px;
  }
}
